/*classes for javascript*/
  .disp-block{
    display: block;
  }

  .disp-none{
    display: none;
  }

  .overflow_scroll{
    overflow: scroll;
  }

  .overflow_hidden{
    overflow: hidden;
  }

  .z_index_-2{
    z-index: -2;
  }

  .z_index_6{
    z-index: 6;
  }

  .z_index_7{
    z-index: 7;
  }

  .z_index_8{
    z-index: 8;
  }

  .z_index_9{
    z-index: 9;
  }

