$products-grid-bgcolor:#e5e5e5;
$products-boxshadow-color:#c0c0c0;
$product-heading-font:tahoma;
$footer-links-color:black;
$navgation-bar-link-color:white;
$grid_display:grid;
$flex_display: flex;
$social-icon-position:fixed;
$footer-font-family:Arial, Helvetica, sans-serif;
$diplay_menu_navbar_border:1px solid rgba(0, 0, 0, 0.3);
$text_align_center:center;
$navbar_menu_background_color:#ffffff;
$float_left: left;
$float_right:right;
$b:bold;

@import "bodystyling";
@import "navigationbar";
@import "homedisplay";
@import "socialicons";
@import "loginnavbar";
@import "videoadvertise";
@import "featuredproducts";
@import "fruitgrid";
@import "ourburgers";
@import "milkshake";
@import "icecream";
@import "howitworks";
@import "ourprocedure";
@import "review";
@import "footer";
@import "bottomnavbar";
@import "jsclasses";

 
@import "mediaquery";





