* {
  box-sizing: border-box;
}

/*Font*/
@font-face {
  font-family: myFirstFont;
  src: url(./font/Sansation_Light_Italic.ttf);
}
/*BODY**********************************/
body {
  font-family: Arial;
  /*overflow: scroll;*/
}

/*BODY end********************************/
/*grid items css*/
.price-color {
  color: #028a0f;
}

.item-description {
  color: grey;
  font-family: myFirstFont;
}

.red-asteriks {
  color: red;
}

/*Navigation left*************************************/
/*Navigation bar class*/
@keyframes bgcolor {
  0% {
    background-color: #73be73;
  }
  33% {
    background-color: #73be73;
  }
  33.1% {
    background-color: #f25278;
  }
  66% {
    background-color: #f25278;
  }
  66.1% {
    background-color: #ef7215;
  }
  100% {
    background-color: #ef7215;
  }
}
.none-decoration {
  text-decoration: none;
}

.absolute-position {
  position: absolute;
}

.display-flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.fixed-position {
  position: fixed;
}

.height90 {
  height: 90%;
}

.center-flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 2%;
}

.center-text {
  text-align: center;
}

.topleft-zero {
  left: 0px;
  right: 0px;
}

.bgbox-class {
  top: 0px;
  height: 76px;
  left: 0px;
  width: 100%;
  background-color: white;
  z-index: -1;
}

.nav-left {
  top: 0px;
  left: 0px;
  overflow: hidden;
  font-size: 13px;
  z-index: 11;
}

.down-arrow {
  font-size: 10px;
  position: relative;
  top: -2px;
  left: 4px;
}

/***********display menu for nav bar****************/
/*home*/
#homejs {
  width: 300px;
  height: 350px;
  background-color: #ffffff;
  display: none;
  top: 75px;
  z-index: 10;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.navhomeitem {
  width: 50%;
  height: 50%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  margin: 3%;
}

#menuburger {
  margin-top: 8%;
}

/*shop*/
#shopjs {
  width: 550px;
  height: 250px;
  background-color: #ffffff;
  /*display: none;*/
  top: 75px;
  left: 50px;
  z-index: 10;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.nav-menu {
  font-family: myFirstFont;
  padding-top: 10px;
}

.nav-menu-text {
  color: rgba(0, 0, 0, 0.5);
}

.nav-menu-text:hover {
  color: black;
  border-bottom: 1.5px solid black;
}

/*blog*/
#blogjs {
  width: 550px;
  height: 250px;
  background-color: #ffffff;
  /*display: none;*/
  top: 75px;
  left: 100px;
  z-index: 10;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/***************************************************/
/*Navigation Links and Div*/
.nav-left a {
  color: white;
  float: left;
  padding: 30px 10px;
}

/*navigation left ends******************************/
/*food mart title and logo*************************/
#title {
  color: white;
  overflow: hidden;
  justify-content: center;
  width: 100%;
  top: 20px;
  z-index: 10;
}

/*foodmart title*/
#foodmart {
  color: white;
  padding-left: 5px;
  font-family: myFirstfont;
  font-size: 33px;
}

/*wood mart logo*/
#foodmart-logo {
  margin-top: 2px;
  width: 30px;
  height: 30px;
}

#titlecolor {
  top: 0px;
  left: 0px;
  right: 0px;
  animation-name: bgcolor;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  height: 76px;
  z-index: 8;
}

#titlecolor1 {
  top: 0px;
  left: 0px;
  right: 0px;
  height: 76px;
  z-index: 7;
  background-color: black;
}

/*foodmart title and logo ends**************************/
/*navigation right *******************************/
.nav-right {
  overflow: hidden;
  float: right;
  font-size: 13px;
  top: 0px;
  right: 0px;
  z-index: 10;
}

#loginregister a {
  color: white;
}

#loginregister a:hover {
  color: #e5e5e5;
}

/*background-color: #73be73;*/
.nav-right #loginregister {
  color: white;
  cursor: pointer;
}

/*.nav-right #loginregister:hover {
  color: #e5e5e5;
}*/
.nav-right #search,
.nav-right #help {
  color: white;
  display: block;
  padding: 30px 20px;
}

.nav-right #searchinput {
  height: 15px;
  width: 60px;
  color: white;
}

.nav-right #searchlogo {
  top: 30px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  outline: none;
}

.nav-right #searchbar {
  top: 50px;
  right: 5px;
  z-index: 10;
  /*display: none;*/
}

.nav-right #search-bar-close {
  z-index: 10;
  cursor: pointer;
  align-items: center;
  width: 25%;
  border-radius: 25px;
  justify-content: center;
  color: white;
  background-color: black;
}

.nav-right #search-button {
  top: 80px;
  right: 100px;
  width: 25%;
  height: 20px;
  z-index: 10;
  cursor: pointer;
  border-style: none solid solid solid;
  background-color: #e5e5e5;
  border-width: 1.5px;
}

.nav-right #searchbox {
  width: 70%;
  height: 30px;
  border: 1.5px solid black;
  border-radius: 25px;
  background-color: white;
  outline: none;
}

.nav-right #searchbox:active {
  outline: none;
}

.nav-right #searchdiv {
  padding: 0px 10px;
}

/*navigation right ends**********************************/
.nav-hover:hover {
  /*background-color: #4F963C;*/
  color: #e5e5e5;
}

/*navigation hover ends*************************************/
/*home page bg color*************************************/
#homebg {
  top: 75px;
  left: 0px;
  right: 0px;
  height: 540px;
  animation-name: bgcolor;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  z-index: -1;
}

/*home page bg color ends***************************/
/*home image*****************************************/
@keyframes bordercolorchange {
  0% {
    border-color: rgba(255, 255, 255, 0.1);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.8);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.1);
  }
}
.home-images {
  margin-top: 190px;
  display: flex;
  justify-content: center;
  height: auto;
}

#homeimgcol1 {
  width: 500px;
  height: auto;
  /*height: 320px;*/
  border-style: none none solid none;
  border-width: 20px;
  animation-name: bordercolorchange;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  display: inline-block;
  text-align: right;
}

#homeimgcol2 {
  width: 360px;
  height: auto;
  /*height: 320px;*/
  border-style: solid solid solid none;
  border-width: 20px;
  animation-name: bordercolorchange;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.veggie {
  margin: 0%;
  font-size: 60px;
  color: white;
  font-family: calibri;
}

#wrap {
  margin-right: 30px;
  /*left: 20%;*/
  width: 380px;
  height: auto;
}

.translate-x-5:hover {
  transform: translateX(5%);
  transition: 0.4s ease-in-out;
}

#corn {
  top: 370px;
  left: 80px;
  width: 200px;
  height: 130px;
}

.scale12:hover {
  transform: scale(1.2);
  transition: 0.4s ease-in-out;
}

#broccoli {
  top: 60px;
  left: 940px;
  width: 200px;
  height: 230px;
  z-index: 9;
}

#tomato {
  top: 150px;
  left: 80px;
  width: 150px;
  height: 150px;
}

.translatex-40:hover {
  transform: translateX(-40px);
  transition: 0.4s ease-in-out;
}

#carrot {
  top: 410px;
  left: 950px;
  width: 200px;
  height: 130px;
}

.translatex40:hover {
  transform: translateX(-40px);
  transition: 0.4s ease-in-out;
}

#cucumber {
  top: 410px;
  left: 650px;
  width: 250px;
  height: 160px;
}

#redchilli {
  width: 20%;
  top: -4%;
  left: 43%;
  z-index: 9;
}

/*home image ends***************************************/
/*Buy Foodmart********************************************/
#container5 {
  background-color: black;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  height: 50px;
  bottom: 8%;
  left: 5%;
  border-radius: 25px;
  color: white;
  z-index: 12;
}

#container5 a {
  font-family: myFirstFont;
  color: white;
  padding-right: 5px;
}

#container5 img {
  border-radius: 25px;
  /*height: 70%;*/
  height: auto;
  align-self: center;
  width: 18%;
  margin-top: 2px;
}

#container5:hover {
  background-color: #1e5631;
}

/************************************************************/
/*Shop now and view more****************************************/
#container4 {
  top: 82%;
  right: 17%;
  width: 25%;
  font-family: calibri;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  z-index: 2;
}

#container4 a {
  color: white;
}

#shopnow {
  border: 3px solid white;
  border-radius: 35px;
  width: 45%;
  opacity: 0.7;
  box-sizing: border-box;
}

#container4 .opacity1hover:hover {
  opacity: 1;
}

#viewmore {
  background-color: #1e5631;
  border-radius: 35px;
  width: 45%;
  opacity: 0.7;
  height: 50px;
  text-align: center;
}

/***************************************************/
/* social icons*/
.social-media-icons {
  display: grid;
  grid-template-columns: 40px 70px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px;
  position: fixed;
  top: 200px;
  right: -70px;
  z-index: 10;
}

.social-icons-top {
  position: fixed;
  width: 40px;
  height: 40px;
  z-index: 10;
}

.social-icons-bottom {
  position: fixed;
  width: 70px;
  height: 40px;
  z-index: 9;
}

.fb-icon-top:hover ~ .fb-icon-bottom {
  transform: translateX(-110px);
  transition: 0.3s;
}

.twitter-icon-top:hover ~ .twitter-icon-bottom {
  transform: translateX(-110px);
  transition: 0.3s;
}

.insta-icon-top:hover ~ .insta-icon-bottom {
  transform: translateX(-110px);
  transition: 0.3s;
}

.utube-icon-top:hover ~ .utube-icon-bottom {
  transform: translateX(-110px);
  transition: 0.3s;
}

/***************************************************************/
/*Side Login-------------------------------------------------------------------------------------------------------->*/
.loginpage {
  /*display: none;*/
  overflow: scroll;
  position: fixed;
  top: 0px;
  width: 320px;
  background-color: white;
  right: 0;
  padding-left: 15px;
  padding-right: 10px;
  z-index: 11;
  bottom: 0px;
}

.loginpageusername,
.loginpagepassword {
  width: 95%;
  border-radius: 30px;
  border: 1px solid #dbdbdb;
  margin: 15px 0px;
  padding: 12px 0px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.loginpageusername:active,
.loginpagepassword:active,
.loginpageusername:focus,
.loginpagepassword:focus {
  outline: none;
}

.remember_me,
.lost_your_password {
  font-size: 12px;
  margin-top: 20px;
}

.lost_your_password {
  float: right;
}

.orloginwith {
  margin-top: 60px;
  font-weight: bold;
  font-size: 13px;
}

.checkbox {
  float: left;
  margin-top: 20px;
}

.remember_me {
  float: left;
}

.loginpage p {
  border-bottom: 1px solid #dbdbdb;
}

.loginpage div {
  text-align: center;
  padding: 12px 0px;
}

#login_page_pic {
  display: inline-block;
}

/*.loginpage
{
  text-align: $text_align_center;
}*/
.loginpage h2 {
  display: inline-block;
}

.loginpage h5 {
  cursor: pointer;
  float: right;
}

.log_button {
  color: white;
  opacity: 0.8;
  width: 95%;
  cursor: pointer;
  background-color: #83AC2B;
  margin-top: 10px;
  padding: 12px 0px;
  /*border-radius: 30px;*/
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.log_button:hover {
  opacity: 1;
}

.log_button:active {
  outline: none;
}

.loginpage a {
  color: #83AC2B;
  opacity: 0.9;
}

/*.loginpage a:hover {
    opacity: 1;
    border-bottom: 1px solid #83AC2B;
}*/
.socio_login {
  width: 95%;
  opacity: 0.8;
  color: white;
  padding: 12px 0px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.socio_login i {
  float: left;
  margin-left: 15px;
}

.fb-login {
  background-color: #365493;
  border: none;
}

.google-login {
  background-color: #55acee;
  border: none;
}

.no_account {
  text-align: center;
  padding: 10px 0px;
}

.no_account i {
  padding-bottom: 10px;
  color: #dbdbdb;
}

.no_account a {
  color: black;
  opacity: 0.8;
  /*margin-top: 18px;*/
  /*border-bottom: 1px solid #83AC2B;*/
}

.no_account a:hover {
  opacity: 1;
  color: #83AC2B;
}

.login-error {
  position: relative;
  top: -10px;
}

/*Side Login ends---------------------------------------------------------------------------------------------------->*/
/*Transparent background--------------------------------------------------------------------------------------------->*/
.transbg-login {
  /*display: none;*/
  position: fixed;
  top: 0px;
  bottom: 0px;
  /*left: 0px;*/
  right: 320px;
  width: 100%;
  background-color: black;
  opacity: 0.65;
  z-index: 11;
}

/*Transparent background ends------------------------------------------------------------------------------------------>*/
/*username display*/
.display-uname-loggedin {
  margin-top: 50px;
  font-size: 18px;
  font-weight: bold;
  color: #f25278;
  border-radius: 15px 50px;
  background-color: rgba(239, 114, 21, 0.1);
  border: 2px solid #ef7215;
}

.signout-loggedin {
  font-size: 14px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

/*video*/
.video-play {
  justify-content: center;
  position: relative;
  top: 240px;
}

.video-play video {
  width: 50%;
  height: 20%;
  box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.advertise-text {
  background-color: white;
  color: black;
  opacity: 0.9;
  font-size: 40px;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}

/*featured products********************************************/
.featured-products-head-div {
  display: grid;
  /*margin-top: 200px;*/
  margin-top: 300px;
  text-align: center;
}

.single-column {
  float: left;
  height: 300px;
  width: 25%;
  /*background-color: red;*/
  display: inline-block;
  text-align: center;
}

.featured-products-heading {
  font-size: 50px;
  font-family: tahoma;
}

.sub-banana-logo {
  margin-top: -20px;
  width: 288px;
  height: 70px;
}

.featured-products-quote1 {
  color: rgba(0, 0, 0, 0.5);
}

/***************************************************************/
/* grid1 fruits images*************************************************/
.fruits-grid-div {
  margin-top: 50px;
}

.fruit-grid {
  margin-top: 10px;
  float: left;
  width: 85%;
  height: 280px;
  margin-left: 30px;
  background-color: #e5e5e5;
  text-align: center;
  overflow: hidden;
}

.fruit-grid:hover {
  position: relative;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px 4px #c0c0c0;
  height: 410px;
  z-index: 2;
}

.fruit-img {
  margin-top: 30px;
  width: 200px;
  height: 200px;
}

.fruit-img:hover {
  /*background-color: none;*/
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
}

/*****************************************************************/
/*Our burgers********************************************/
.our-burgers-head-div {
  display: grid;
  margin-top: 460px;
  text-align: center;
}

.our-burgers-heading {
  font-size: 50px;
  font-family: tahoma;
}

.sub-banana-logo {
  margin-top: -20px;
  width: 288px;
  height: 70px;
}

.our-burgers-quote1 {
  color: rgba(0, 0, 0, 0.5);
}

/***************************************************************/
/*grid 2 burgers*************************************************/
.our-burgers-grid-div {
  margin-top: 50px;
}

.burger-grid {
  margin-top: 10px;
  float: left;
  width: 85%;
  height: 280px;
  margin-left: 30px;
  background-color: #e5e5e5;
  text-align: center;
  overflow: hidden;
}

.burger-grid:hover {
  position: relative;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px 4px #c0c0c0;
  height: 410px;
  z-index: 2;
}

.burger-grid:hover > .burger-img {
  background-color: #e5e5e5;
  width: 200px;
  height: 200px;
  padding: 10px 10px 10px 10px;
}

.burger-img {
  margin-top: 30px;
  width: 200px;
  height: 200px;
}

/*********************************************************************/
/*milkshake*************************************/
.container10 {
  margin-top: 460px;
}

.milkshake {
  width: 366px;
  height: 497px;
}

.grid3div1,
.grid3div2 {
  float: left;
  width: 48%;
  height: 500px;
  /*background-color: $products-grid-bgcolor;*/
}

.grid3div1 {
  text-align: center;
}

.milkshake-details {
  position: relative;
  top: 50px;
}

.g3d2text1 {
  font-size: 50px;
  font-family: tahoma;
}

.g3d2text3 {
  background-color: #73be73;
  padding: 10px;
  border-radius: 25px;
  color: white;
}

.g3d2text4 {
  background-color: grey;
  padding: 10px;
  border-radius: 25px;
  color: white;
  margin-left: 10px;
}

.grid3div3 {
  position: relative;
  top: 300px;
  z-index: 2;
}

.g3d2link {
  text-decoration: none;
  color: white;
}

/***********************************************/
/*Ice Cream*************************************/
.icecream-container {
  position: relative;
  top: 100px;
  height: 450px;
  color: white;
}

#icecream1 {
  width: 199px;
  height: 422px;
  margin-top: 19px;
}

#grid4div1,
.icecream-grid {
  float: left;
  width: 50%;
  height: 450px;
  background-color: #fc4c4e;
  /*background-color: #fc9483;*/
}

#grid4div1 {
  text-align: center;
}

.icecream-grid {
  text-align: right;
}

.fruit-ice-cream-heading,
.fruit-ice-cream-para {
  position: relative;
  top: 50px;
}

.fruit-ice-cream-heading {
  font-size: 50px;
  font-family: tahoma;
}

.icecream-table {
  margin-top: 70px;
}

#icecreamrow1 {
  font-size: 40px;
}

#num20,
#num460,
#num135,
.icecream-numbers-text {
  font-weight: bold;
  width: 220px;
}

/***********************************************/
/*how it works************************************/
.title-howitworks {
  font-weight: bold;
}

.container12 {
  display: grid;
  margin-top: 700px;
  text-align: center;
}

#fphead3 {
  /*margin-top: 1500px;*/
  font-size: 40px;
  font-family: tahoma;
}

#fplogo3 {
  margin-top: -20px;
  width: 288px;
  height: 70px;
}

#fptext3 {
  color: rgba(0, 0, 0, 0.5);
}

/***********************************************/
/*grid 5 how it works*************************************************/
.container13 {
  margin-top: 50px;
}

#grid5div1,
#grid5div2,
#grid5div3 {
  float: left;
  height: 420px;
  /*margin-left: 30px;*/
  background-color: #fafafa;
  text-align: center;
  overflow: hidden;
}

#grid5div1,
#grid5div3 {
  width: 36%;
}

#grid5div2 {
  width: 25%;
}

.howitworks-tableleft tr {
  text-align: right;
}

.howitworks-tableleft {
  text-align: right;
  float: right;
}

.how-it-works-table-right {
  text-align: left;
  float: left;
}

.how-it-works-row-Alignment {
  margin-top: -20px;
  border-collapse: separate;
  border-spacing: 0 50px;
}

.how-it-works-table-right tr {
  text-align: left;
}

.howitworks-empty {
  height: 50px;
}

.how-it-works-pic {
  width: 80px;
  height: 80px;
}

#hiwmainpic {
  width: 300px;
  height: 400px;
}

.how-it-works-text {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.hiwrightr2 {
  text-align: left;
}

/*********************************************************************/
/*grid 6 1234 blocks**************************************************/
.container14 {
  position: relative;
  top: 50px;
  color: white;
}

.title-grid {
  font-weight: bold;
}

.con14div {
  padding: 20px;
  float: left;
  width: 25%;
  height: 250px;
}

.carefully-picked {
  background-color: #7c5295;
}

.freshly-squeezed {
  background-color: #ef7215;
}

.securely-packed {
  background-color: #f25278;
}

.vitamins {
  background-color: #8a9a5b;
}

.number {
  font-size: 60px;
  font-weight: bold;
}

.con14text {
  font-family: myFirstFont;
  font-size: 13px;
}

.grid6div {
  margin-left: 10px;
  width: 90%;
}

.readmore {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid;
  border-color: rgba(255, 255, 255, 0.3);
}

/*********************************************************************/
/*container 15 back to top********************************************/
.container15 {
  margin-top: 800px;
}

.leave-review {
  display: grid;
  justify-content: center;
}

.review-link {
  text-decoration: none;
  color: white;
  background-color: #73be73;
  border-radius: 25px;
  padding: 10px 20px;
}

.review-link:hover {
  background-color: #0e6b0e;
}

/*********************************************************************/
/*Footer------------------------------------------------------------------------------------------------------------>*/
/*last-container */
.last-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2.4fr;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.address {
  display: grid;
  grid-template-columns: 1fr;
}

.footertext-copyrights {
  width: 90%;
}

.address strong {
  font-size: 42px;
}

.recent-post {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 40px;
}

.recent-post li {
  font-size: 14px;
  display: flex;
}

.recent-post-text {
  position: relative;
  left: 10px;
}

.recent-post a {
  margin-bottom: 10px;
  color: #6E3333;
  text-decoration: none;
  font-size: 12px;
}

.recent-post span {
  color: #BBBBBB;
  margin-right: 20px;
  float: right;
}

.recent-post p {
  font-size: 15px;
}

.table {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.8fr;
  margin-top: 20px;
}

.stories a, .useful a, .footer-menu a {
  color: black;
  opacity: 0.6;
  font-family: Corbel;
  text-decoration: none;
}

.stories a:hover, .useful a:hover, .footer-menu a:hover {
  opacity: 1;
}

ul {
  list-style: none;
  padding: 0px;
}

ul li {
  padding: 5px 0px;
}

.small-last {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
}

.small-last div {
  padding: 20px;
}

.small-last i {
  float: right;
}

@media screen and (max-width: 600px) {
  .recent-post {
    display: none;
  }

  .table {
    display: none;
  }

  .small-last {
    display: block;
  }
}
/*footer*/
footer {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-top: 1px solid #777777;
}

.fot {
  color: #777777;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.footertext-copyrights {
  float: left;
}

.bank-cards-image {
  float: right;
}

@media screen and (max-width: 600px) {
  .recent-post {
    display: none;
  }

  .table {
    display: none;
  }

  .small-last {
    display: block;
  }
}
/*Footer end-------------------------------------------------------------------------------------------------------->*/
/* Down Navigation Bar */
.down_nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  text-align: center;
  align-items: center;
  bottom: -150px;
  background-color: blue;
  left: 0px;
  width: 100%;
  /*visibility: hidden;*/
  /*display: none;*/
  z-index: 10;
  animation-name: bgcolor;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.down {
  width: 25%;
  padding: 5% 9%;
  cursor: pointer;
  font-weight: bold;
}

/*.ri{
  padding: 0 0 0 9%;
}*/
/*.down:hover{
  color: #83AC2B;
}*/
/*@media screen and (max-width: 992px){
  .down_nav{visibility: visible;}
}
@media screen and (max-width: 600px){
  .ri{padding: 0 0 0 5%;}
}*/
/*location*/
.font-size {
  position: relative;
  bottom: 8%;
  font-size: 12px;
  left: 20px;
  font-family: myFirstFont;
  font-weight: bold;
}

/*bottom search bar*/
#searchbar-bottom {
  bottom: 60px;
  right: 0px;
  z-index: 10;
  /*display: none;*/
}

#search-bar-close-bottom {
  z-index: 10;
  cursor: pointer;
  align-items: center;
  width: 25%;
  border-radius: 25px;
  justify-content: center;
  color: white;
  background-color: black;
}

#searchbox-bottom {
  width: 70%;
  height: 30px;
  border: 1.5px solid black;
  border-radius: 25px;
  background-color: white;
  outline: none;
}

#searchbox-bottom:active {
  outline: none;
}

/*classes for javascript*/
.disp-block {
  display: block;
}

.disp-none {
  display: none;
}

.overflow_scroll {
  overflow: scroll;
}

.overflow_hidden {
  overflow: hidden;
}

.z_index_-2 {
  z-index: -2;
}

.z_index_6 {
  z-index: 6;
}

.z_index_7 {
  z-index: 7;
}

.z_index_8 {
  z-index: 8;
}

.z_index_9 {
  z-index: 9;
}

@media screen and (max-width: 1441px) and (min-width: 1410px) {
  #broccoli {
    top: 100px;
    left: 1030px;
    width: 180px;
    height: auto;
  }

  #carrot {
    width: 170px;
    height: auto;
    top: 420px;
    left: 1050px;
  }

  #cucumber {
    left: 800px;
    width: 200px;
    height: 160px;
  }

  #corn {
    left: 220px;
    width: 170px;
    height: auto;
  }

  #tomato {
    left: 300px;
    width: 130px;
    height: auto;
  }
}
@media screen and (max-width: 1100px) {
  #broccoli {
    top: 100px;
    left: 860px;
    width: 180px;
    height: auto;
  }

  #carrot {
    width: 170px;
    height: auto;
    top: 420px;
    left: 880px;
  }

  #cucumber {
    left: 600px;
    width: 200px;
    height: 160px;
  }
}
@media screen and (max-width: 1025px) {
  #broccoli {
    top: 100px;
    left: 830px;
    width: 180px;
    height: auto;
  }

  #carrot {
    width: 170px;
    height: auto;
    top: 420px;
    left: 800px;
  }

  #cucumber {
    left: 500px;
    width: 200px;
    height: 160px;
  }

  #corn {
    left: 50px;
    width: 170px;
    height: auto;
  }

  #tomato {
    width: 130px;
    height: auto;
  }
}
@media screen and (max-width: 1025px) and (min-width: 768px) {
  #broccoli,
#tomato,
#carrot,
#cucumber,
#corn {
    display: none;
  }
}
/*tablet*/
@media screen and (max-width: 1000px) and (min-width: 427px) {
  .video-play {
    top: 280px;
  }

  /*social media icons*/
  .social-media-icons {
    top: 150px;
  }

  #broccoli,
#tomato,
#corn,
#cucumber,
#carrot,
#redchilli,
#pages,
#elements,
#buy {
    display: none;
  }

  #homeimgcol1 {
    width: 300px;
  }

  #wrap {
    width: 280px;
  }

  .veggie {
    padding-left: 10px;
    font-size: 40px;
  }

  .home-images {
    margin-left: -60px;
  }

  /*featured products*/
  /*.featured-products-head-div{
    margin-top: 200px;
  }*/
  /*fruits*/
  .single-column {
    width: 50%;
  }

  .fruit-grid {
    margin-left: 30px;
  }

  /*burger*/
  .our-burgers-head-div {
    margin-top: 720px;
  }

  .burger-grid {
    margin-left: 30px;
  }

  /*milkshake*/
  .grid3div1,
.grid3div2 {
    width: 100%;
    margin-top: 100px;
  }

  .grid3div2 {
    margin-top: -60px;
  }

  .grid3div3 {
    position: relative;
    top: 330px;
    z-index: 2;
  }

  .icecream-grid,
#grid4div1 {
    /*height: 480px;*/
    height: 550px;
    margin-top: -100px;
  }

  #icecreamrow1 {
    font-size: 35px;
  }

  .icecream-numbers-text {
    font-size: 14px;
  }

  .container12 {
    margin-top: 1400px;
  }

  /*how it works*/
  #grid5div1,
#grid5div2,
#grid5div3 {
    width: 100%;
  }

  /*1234*/
  .con14div {
    width: 50%;
  }

  /*leave a review*/
  .container15 {
    margin-top: 1900px;
  }

  .last-container {
    margin-top: 30px;
  }
}
@media screen and (max-width: 670px) and (min-width: 600px) {
  .recent-post {
    display: none;
  }

  .stories {
    padding-left: 120px;
  }
}
@media screen and (max-width: 700px) and (min-width: 500px) {
  #homeimgcol1 {
    width: 260px;
  }

  #homeimgcol2 {
    width: 260px;
  }

  .video-play {
    display: none;
  }
}
/*@media screen and (max-width: 650px) and (min-width: 500px)*/
@media screen and (max-width: 650px) and (min-width: 427px) {
  .help-display, #searchlogo, #blog, #register, .video-play {
    display: none;
  }

  #login {
    position: absolute;
    right: 10px;
  }

  #homeimgcol1 {
    width: 250px;
  }

  #homeimgcol2 {
    width: 250px;
  }

  #wrap {
    width: 220px;
  }

  .veggie {
    padding-left: 10px;
    font-size: 35px;
  }

  .home-images {
    margin-left: 0px;
  }

  .featured-products-head-div {
    margin-top: 230px;
  }
}
@media screen and (max-width: 426px) {
  .video-play {
    display: none;
  }

  /*down navigation bar*/
  .down_nav {
    /*display: flex;*/
    bottom: 0px;
  }

  #broccoli,
#tomato,
#corn,
#cucumber,
#carrot,
#redchilli,
#shop,
#blog,
#pages,
#elements,
#buy,
#register,
#searchlogo,
#login, #home {
    display: none;
  }

  #help {
    position: absolute;
    right: 10px;
  }

  /*.navborder {
      display: none;
  }*/
  .home-images {
    display: grid;
    margin-left: 0px;
  }

  #homeimgcol1 {
    width: 320px;
    border: none;
  }

  #homeimgcol2 {
    width: 320px;
    border-style: none none solid solid;
  }

  #wrap {
    width: 270px;
  }

  .veggie {
    padding-left: 10px;
    font-size: 40px;
  }

  #shopnow,
#viewmore {
    display: none;
  }

  #homebg {
    width: 100%;
    height: 520px;
  }

  #container5 {
    display: none;
  }

  /*featured products*/
  .featured-products-head-div {
    margin-top: 100px;
  }

  /*fruits*/
  .single-column {
    width: 100%;
  }

  .fruit-grid {
    margin-left: 30px;
  }

  /*burger*/
  .our-burgers-head-div {
    margin-top: 1300px;
  }

  .burger-grid {
    margin-left: 30px;
  }

  /*milkshakes*/
  .grid3div1,
.grid3div2 {
    margin-top: 0px;
  }

  .grid3div1,
.grid3div2 {
    width: 100%;
  }

  .grid3div1 {
    margin-top: 50px;
  }

  .grid3div2 {
    margin-top: -100px;
  }

  .milkshake {
    width: 300px;
    height: auto;
  }

  .grid3div3 {
    position: relative;
    top: 350px;
    z-index: 2;
  }

  /*icecream*/
  .icecream-container {
    margin-top: 2000px;
  }

  .icecream-grid,
#grid4div1 {
    width: 100%;
  }

  .icecream-grid {
    margin-top: -100px;
    height: auto;
  }

  .fruit-ice-cream-heading,
.fruit-ice-cream-para,
.icecreamtable {
    padding-right: 15px;
  }

  /*how it works*/
  #grid5div1,
#grid5div2,
#grid5div3 {
    width: 100%;
  }

  /*1234*/
  .con14div {
    width: 100%;
  }

  /*leave a review*/
  .container15 {
    margin-top: 2400px;
  }

  /*footer*/
  .last-container {
    margin-top: 50px;
  }
}
@media screen and (max-width: 376px) {
  /*down navigation bar*/
  /*.down_nav{
  	display: flex;
  }*/
  .home-images {
    margin-left: 0px;
  }

  .fruit-grid {
    margin-left: 25px;
  }

  .burger-grid {
    margin-left: 25px;
  }

  .grid3div3 {
    position: relative;
    top: 380px;
    z-index: 2;
  }

  .icecream-grid {
    margin-top: -20px;
  }

  .fruit-ice-cream-heading {
    font-size: 40px;
  }

  .container12 {
    margin-top: 800px;
  }
}
@media screen and (max-width: 321px) {
  .home-images {
    margin-left: 0px;
  }

  #homeimgcol1 {
    width: 300px;
    border: none;
  }

  #homeimgcol2 {
    width: 300px;
    border-style: none none solid solid;
  }
}

/*# sourceMappingURL=main.css.map */
