  /*container 15 back to top********************************************/
 .container15 {
  margin-top: 800px;
}

.leave-review {
  display:$grid_display;
  justify-content: center;
}

.review-link {
  text-decoration: none;
  color: white;
  background-color: #73be73;
  border-radius: 25px;
  padding: 10px 20px;
}

.review-link:hover {
  background-color: #0e6b0e;
}

  /*********************************************************************/