/* social icons*/
.social-media-icons {
  display: $grid_display;
  grid-template-columns: 40px 70px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px;
  position: $social-icon-position;
  top: 200px;
  right: -70px;
  z-index: 10;
}

.social-icons-top{
  position: $social-icon-position;
  width: 40px;
  height: 40px;
  z-index: 10;
}

.social-icons-bottom{
  position: $social-icon-position;
  width: 70px;
  height: 40px;
  z-index: 9;
}
.fb-icon-top:hover ~ .fb-icon-bottom {
  transform: translateX(-110px);
  transition: 0.3s;
}

.twitter-icon-top:hover ~ .twitter-icon-bottom {
  transform: translateX(-110px);
  transition: 0.3s;
}
.insta-icon-top:hover ~ .insta-icon-bottom {
  transform: translateX(-110px);
  transition: 0.3s;
}
.utube-icon-top:hover ~ .utube-icon-bottom {
  transform: translateX(-110px);
  transition: 0.3s;
}

/***************************************************************/